@import url(base.css);

h1 {
  font-size: 200%;
  margin: 8px 0px;
}

/* Constrain the page to the viewport */
html, body {
  height: 100vh;
}

/* Center the nav's header and list */


/* navigation buttons have full width */
nav button {
  width: 100%;
}

/* Remove unnecessary space and bullets from the lists */
ul {
  padding: 0px;
  margin: 16px;
  list-style-type: none;
}

/* Task 2.1. Lay out the childs of the 'body' using Grid Template Areas. */
body {
  margin: 0;
  /*display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "h"
    "n"
    "m"
    "f";*/
}
header {
  grid-area: h;
  
}

nav {
  grid-area: n;
  background-color: #eee;
  padding: 10px;
}

main {
  grid-area: m;
  overflow-y: auto;
}

footer {
  grid-area: f;
}

main {
  overflow-y: auto;
}

@media (min-width: 768px) {
  body {
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "h h"
      "n m"
      "f f";
  }
}

/* Task 3.1. Make the header element a flex container and center its children
   vertically and horizontally.
 */
 header {
  display: flex;
  justify-content: center;   
  align-items: center;       
}


/* Task 3.2. Make the list items of the unordered list in the nav element a flex container, 
   use column direction and center the child items
 */
 nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

/* Task 3.3. Make the main element a Flexbox container */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

/* Task 3.4. Make the footer's ul a Flexbox container */
footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* From here on styling from exercise 1 */